<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="stylesheet" href="style/code.css">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="Tiny and portable microkernel written in C++">
  
  <meta name="keywords" content="programming, tisix, unix">
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
  </style>

   <title> tisix </title>

</head>

<body>

    <h1> Tisix </h1>
    <p><a href="https://github.com/Abb1x/tisix">Github</a> - <a href="about.html">About</a></p>
    <hr>
    <h2> Posts </h2>
    
  <ul>{% for post in posts %}
      <li>
        <a href="{{ url_for("posts", slug=post.slug) }}">{{ post.title }}</a>
      </li>{% endfor %}
  </ul>


	
</body>
</html>{% endblock %}
